/* body */
body{
    /* background-image: linear-gradient(90deg, #2857a4 0%, #403066 84%); */
    background-color: rgb(1, 1, 48);
}

/* h3 headings */
h3{
    color: white;
    font-family: sans-serif;
    font-weight: initial;
    display: inline;
}

/* styles for button */
button{
    background-color: transparent;
    background-repeat: no-repeat;
    font-size: 0.7rem;
    cursor: pointer;
    overflow: hidden;
    border: none;
    color: white;
}

/* displaying aside and article in inline */
article{
	display: inline-block;
    width: 60%;
    float: left;
}

/* aside-section */
aside{
    display: inline-block;
    width: 30%;
    float: right;
    margin: -50px;
    margin-right: 2px;
}

#drop-down{
    color: white;
    float: right;
}

/* input tag background */
input{
    background-color: transparent;
    border: 0.1rem solid white;
}

::placeholder{
    color: white;
    opacity: 1;
}

/* navigation area */
.nav a{
    text-decoration: none;
    color: white;
}

.container{
    position: relative;
}

.container img{
    height: auto;
	width: auto;
	max-width: 20vw;
    max-height: 28vh;
    padding-left: 30px;
    padding-top: 50px;
    transition: transform .2s;
}

.container:hover .overlay{ 
    transform: scale(1.2);
    opacity: 0.6;
    visibility: visible;
}

.overlay{
    position: absolute;
    display: inline-block;
    font-size: 4rem;
    color: grey;
    visibility: hidden;
    transition: opacity .35s ease;
}

#latest-release{
    padding-left: 80px;
}

#latest-release img{
    height: auto;
    width: auto;
    max-width: 10vw;
    max-height: 10vh;
}

/* login modal */
#modal{
    visibility: hidden;
}

#modal:target{
    visibility: visible;
    height: 150px;
    width: 210px;
    background-color: floralwhite;
    text-align: center;
    padding-top: 10px;
}

#btn{
    height: 30px;
    width: 150px;
    background-color: skyblue;
    color: black;
    font-size: 0.8rem;
}

/* user_image */
#user-image{
    height: 5vh;
    width: 3vw;
    border-radius: 50%;
    float: right;
    cursor: pointer;
}

#right-align{
    display: inline-block;
    float: right;
}

